
@font-face {
  font-family: garamond;
  src: url('garamond.ttf');
}

html {
background: lightgrey;
}

header{
  background:rgb(16, 36, 92);
  margin-left: 10em;
  margin-right: 10em;
  font-size: 16px;
  min-height: 25px;
}
body {
  min-height: 80%;
  margin-left: 10em;
  margin-right: 10em;
  text-align:center;
}


footer{
  background:rgb(16, 36, 92);
  margin-left: 10em;
  margin-right: 10em;
  font-size: 16px;
  min-height: 25px;
}
/* en devellopement */
.border_app{
  border: 1px solid #fff;
  border-radius: 1px;
}
.hyperlink_disable {
    color: currentColor;
    opacity: 1;
    text-decoration: none;
  }

.button {
  background-color:rgb(16, 36, 92);
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  list-style-type: none ;
  border: 1px solid #fff;
  border-radius: 1px;
}

.menu {
    display: flex;                
    padding:0;                           
    justify-content: space-around;
}
.menu li {
    list-style-type: none ;   
    border:none    
  
}
.menu a {
    background-color:rgb(16, 36, 92);
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    list-style-type: none ;
    border: 2px solid #fff;
    border-radius: 0.5px;    
}