<!DOCTYPE html>
    <html>
        <head>
            <title>Foodies</title>
            <link rel="stylesheet"    href= "/static/css/main.css" />
            <link rel="shortcut icon" href= "static/css/images/fav.ico">
        </head>

        <header>
            <ul class="menu">                
            <li>
            <a href= "/"> Accueil</a>
          </li>
        </ul>
        </header>
        
        <body>
            
        <ul class = "button">
            <li> 
                <a class = "hyperlink_disable" href = "/prediction-picture2" > Prediction d'une photo</a> 
            </li>
        </ul>            
 
        <ul class = "button">
            <li> 
                <a class = "hyperlink_disable" href = "/deconnection" > Deconnection</a> 
            </li>
        </ul>

        </br>
        </br>
        </br>
        </br>
        <div> Outils IMC </div>

        <form method="POST" enctype="multipart/form-data">
            Taille(cm)          : <input type = "number" name = "taille" /> <br>
            Poids(kg)           : <input type = "number" name= "poids" /> <br>
            <input type = "submit" value = "Calcul IMC">
        </form>
        

      <div> 
          {{imc}}
      </div>

        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </body>

        <footer> 
            <ul class="menu">                
                <li> <a href= "/about"> A propos</a> </li>
            </ul>
        </footer>

    </html>